.detail-card {
  width: calc(50% - 20px);
  height: 100px;

  border-radius: 10px;
  background-color: rgb(82, 79, 79);
  color: rgb(238, 235, 235);
  margin: 10px;
}

.detail-card__header {
  padding: 5px;

  display: flex;
  justify-content: center;
}

.detail-card__content {
  padding: 5px;

  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 500px) {
  .detail-card {
    width: 400px;
  }
}
