.report-item {
  background-color: #ffffff;
  border-radius: 10px;

  width: 100%;
  max-width: 600px;
  height: 30vh;
  margin-bottom: 5px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report-item__figure {
  box-shadow: 0 2px 0 rgba(93, 96, 99, 0.1);
  
  width: 100%;
  height: 80vh;
  overflow: hidden;

  display: flex;
  flex-grow: 2;
  flex-direction: row;
  justify-content: center;
  max-width: 600px;
}

.report-item__figure img {
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-color: #da6b6b;
  border-radius: 10px;
  image-orientation: from-image;
}

.report-item__preview {
  background-color: aliceblue;

  width: 100%;
  height: 10vh;

  display: flex;
  flex-direction: row;
}

.report-item__button {
  font-size: 2vh;
  border: 0;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: .5;
}

.report-item__button:hover {
  position: relative;
  top: 1px;
  right: 1px;
  background-color: rgba(255, 255, 255, 0.851)
}

.report-item__details {
  font-size: 2vh;
  border: 0;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.report-item__button-delete {
  background-color: #ff6a30;
}

.report-item__button-print {
  background-image: url('../../images/print-button.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.report-item__button-prioritize,
.report-item__button-underReview {
  display: block;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.report-item__button-prioritize input,
.report-item__button-underReview input {
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  flex-grow: 1;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.report-item__button-prioritize:hover input ~ .checkmark,
.report-item__button-underReview:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add colored background */
.report-item__button-prioritize input:checked ~ .checkmark {
  background-color: #ff6a30;
}

.report-item__button-underReview input:checked ~ .checkmark {
  background-color: rgb(255, 195, 11);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  display: none;
}

/* Show the checkmark when checked */
.report-item__button-prioritize input:checked ~ .checkmark:after,
.report-item__button-underReview input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.report-item__button-prioritize .checkmark:after,
.report-item__button-underReview .checkmark:after {
 background-size: 100%;
 background-repeat: no-repeat;
}

.report-item__button-prioritize:hover,
.report-item__button-underReview:hover {
  opacity: 50%;
}
.priority-border {
  border: 5px solid #ff6a30;
}

@media only screen and (min-width: 500px) {
  .report-item {
    margin: 10px;
  }
}
