.report-item {
  background-color: #ffffff;
  border-radius: 10px;

  width: 100%;
  max-width: 500px;
  height: 600px;
  margin-bottom: 5px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.report-item__figure {
  width: 100%;
  height: 500px;
  border-radius: 3px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 500px;
}
.report-item__figure img {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 500px;
  max-height: 600px;
  border-radius: 3px;
  image-orientation: from-image;
}
.report-item__data {
  background-color: rgb(70, 66, 66);
  color: #f9fafb;
  text-align: center;

  width: 100%;
  height: 100px;
  padding: 10px;
  max-width: 500px;
  max-height: 300px;
  border-radius: 3px;
  overflow-y: scroll;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.report-item__data h4 {
  text-align: start;
  width: 100%;
  display: block;
}
.report-item__data p {
  text-align: start;
  width: 100%;
  display: block;
}
.report-item__data > * {
  max-width: 300px;
}
.report-item__data.visible {
  flex: 1;
}
.report-item__subheader {
  color: rgb(233, 229, 229);
}
.report-item__button {
  background-color: rgb(225, 225, 225, 0);
  padding: 12px;
  width: 5%;
  max-width: 300px;
  outline: none;
  position: absolute;
  cursor: pointer;
}
.report-item__button-delete {
  background-image: url('../../images/iconmonstr-x-mark-1-240.png');
  background-size: 100%;
  border: 0;
  top: 2px;
  left: 5%;
}
.report-item__button-delete:hover {
  opacity: 50%;
}
.report-item__button-print {
  background-image: url('../../images/print-button.svg');
  background-size: 100%;
  background-color: #ffffff;
  border: 0;
  top: 2px;
  left: 15%;
}
.report-item__button-print:hover {
  opacity: 50%;
}

.report-item__button-prioritize,
.report-item__button-underReview {
  display: block;
  position: absolute;
  top: 2px;
  left: 25%;
  padding: 12px;
  width: 5%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.report-item__button-underReview {
  top: 2px;
  left: 35%;
}

/* Hide the browser's default checkbox */
.report-item__button-prioritize input,
.report-item__button-underReview input {
  position: absolute;
  top: 2px;
  left: 25%;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  height: 0;
  width: 0;
}

.report-item__button-underReview input {
  top: 2px;
  left: 35%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.report-item__button-prioritize:hover input ~ .checkmark,
.report-item__button-underReview:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.report-item__button-prioritize input:checked ~ .checkmark {
  background-color: #ff6a30;
}

.report-item__button-underReview input:checked ~ .checkmark {
  background-color: rgb(255, 195, 11);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.report-item__button-prioritize input:checked ~ .checkmark:after,
.report-item__button-underReview input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.report-item__button-prioritize .checkmark:after,
.report-item__button-underReview .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.report-item__button-prioritize:hover,
.report-item__button-underReview:hover {
  opacity: 50%;
}

.report-review-page {
  background-color: #7e7e7e;
  color: #ffffff;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  position: absolute;
}
.report-review-page .form-row {
  margin-bottom: 20px;
}

.report-review-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priority-border {
  border: 5px solid #ff6a30;
}

@media only screen and (min-width: 500px) {
  .report-item {
    margin: 10px;
  }
}
