.user-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  @media only screen and (min-width: 500px) {
  .user-info-form {
      width: 300px; 
    }
  }