.main-nav {
  width: 100%;
  height: 5vh;

  background-color: #f9fafb;
  box-shadow: 0 2px 0 rgba(93, 96, 99, 0.1);
  padding: 0 13px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: all;
}

.navbar__user-info {
  height: 100%;
  width: 15%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__user-dropdown {
  height: 90%;
  position: relative;
}

.navbar__user-dropdown img {
  height: 100%;
  border-radius: 42px;
  cursor: pointer;
}

.navbar__user-dropdown-content {
  background-color: #f9fafb;
  max-height: calc(100vh - 62px - 100px);
  width: 325px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 150%;
  left: -300px;
}

.is-visible {
  display: flex;
}

.user-dropdown-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.user-dropdown-info p {
  text-align: center;
}

.user-dropdown-info img {
  height: 7vh;
  width: 7vh;
  margin-bottom: 10px;
}

.user-dropdown-info__displayName {
  color: black;
}

.user-dropdown-info__email {
  font-size: 15px;
}

.user-dropdown-signout__wrapper {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e8eaed;
  border-top: 1px solid #e8eaed;
}

.user-dropdown-signout__button {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font: 500 14px/16px sans-serif;
  letter-spacing: 0.15px;
  margin: 16px;
  outline: 0;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  cursor: pointer;
}

.navbar__user-info .user-notifications {
  width: 3vw;
  height: 3vw;
}

#navbar__logo {
  width: 20%;
  height: 5vh;

  font-size: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar__logo img {
  width: 100%;
  height: 100%;
}

.hamburger {
  cursor: pointer;
  z-index: 1001;
}

.hamburger > * {
  pointer-events: none;
}

.thick {
  width: 35px;
  height: 5px;
  background-color: #5d6063;
  margin: 6px 0;
  border-radius: 10px;
}
