.forgot-password-page {
  width: 100%;
  height: 100%;
  margin-top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-container {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;

  padding: 12px;
  margin-bottom: 20px;

  background-color: #e6eaec;
}

.forgot-password-return {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-return p,
.forgot-password-return a {
  font-size: 3vw;
}

.input-error {
  background-color: rgb(219, 124, 124);
}

.main-buttons {
  width: 100%;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button {
  background-color: var(--main-background-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-width: 700px;
  height: 100%;

  display: flex;
  justify-content: center;
}
.main-button__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;

  display: block;
}

@media only screen and (min-width: 500px) {
  .main-button__img {
    max-width: 300px;
    max-height: 300px;
  }

  .forgot-password-return p,
  .forgot-password-return a {
    font-size: 1vw;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  .main-button__img {
    max-width: 100%;
    max-height: 100%;
  }
}
